XML/xsd_file_2.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="squad">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="squadName" type="xs:string"/>
                <xs:element name="formed" type="xs:int"/>
                <xs:element name="active" type="xs:boolean"/>
                <xs:element name="members">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="member" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="name" minOccurs="0" type="xs:string"/>
                                        <xs:element name="age" minOccurs="0" type="xs:int"/>
                                        <xs:element name="powers">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="power" type="xs:string" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>